.dashboard-container {
  padding: 30px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}

.lap-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lap-icon {
  width: 40px;
}

.dashboard-button {
  width: 200px;
  height: 50px;
  background-color: #c5a574;
  border: 1.5px solid #101010;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #101010;
  color: #c5a574;
  border: 1.5px solid #c5a574;
}

.dashboard-title-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-player-name-and-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.current-player-car-img {
  width: 50px;
}

.global-score-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.player-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.position-of-player {
  font-size: 1rem;
  opacity: 0.7;
}

.car-img {
  width: 70px;
}

.finish-line {
  height: 130px;
}

.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.action-card {
  padding: 20px;
  border: #c5a574 dashed 4px;
  font-size: 20px;
  background-color: black;
}
