.host-container {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  width: 70%;
  padding-top: 7%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.input-container > input {
  margin-top: 10%;
  padding: 4% 6%;
  border: none;
  border-radius: 2vw;
  background-color: #e8d1ac;
}

.input-container > input::placeholder {
  color: #262626;
}

.button-start-game {
  margin-top: 10%;
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #c5a574;
}
