.player-select-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 50px;
}

.select-name-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-name-buttons button {
  padding: 0.4rem 0.8rem;
  background-color: #c5a574;
  border: none;
  border-radius: 0.3rem;
}
